.poduct-box {
  width: 200px;
  height: 300px;
  // background-color: rgb(205, 240, 202);
  background: linear-gradient(0deg, #e8ffe4, #cdffbe);
  // background: linear-gradient(0deg, rgb(205, 240, 202), #D3D3D3);
  transition: transform 0.3s ease-out;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  .card-image {
    width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-user-drag: none;
  }
  .product-details{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    .product-desc{
      font-size: 14px;
      color:gray;
    }
    .product-price{
      font-size: 14px;
      
      .product-price-number{
        color:rgba(206, 0, 0, 0.7);
      }
    }
  }
  
}
.poduct-box:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px 2px rgb(41, 41, 41, .3);
  transform: translate(2px, -5px);
}
