.pr0duct-detai1{
    background-color: blue;
    padding: 1%;
    
    .product-detail-container{
        // width: 97%;
        border-radius: 5px;
        min-height: 500px;
        background-color: red;
    }
}
