nav {
    display: flex;
    flex-direction: row;
    top: 0;
    width: auto;
    height: 70px;
    background: linear-gradient(0deg, #effced, #D3D3D3);
    padding: 0 20px;
    justify-content: space-around;
    .logo {
        display: flex;
        #Layer_1 {
            width: 50px;
            margin: 0 20px;
        }
    
        #Layer_1:hover {
            animation: flower 1s ease;
        }
    
        @keyframes flower {
            from {
                transform: rotateZ(0deg);
            }
    
            to {
                transform: rotateZ(360deg);
            }
        }
    }
    
    .nav-list {
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: end;
        align-items: center;
        

        .nav-list-items {
            width: auto;
            margin-right: 40px;
            font-size: 18px;
            font-weight: 600;
            color: #232323;
            cursor: pointer;
            text-decoration:none;
        }
        .nav-list-items:hover{
            color: rgb(90, 120, 90);
        }
        .active{
            color: rgb(130, 170, 130);
        }
    }

    .menu {
        position: absolute;
        right: 20px;
        top: 20px;
        color: #000;
    }

    @media screen and (max-width: 500px) {
        .nav-list {
            max-width: 20vw;
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            
            height: auto;
            padding: 40px 30px 20px 10px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, .15);
            backdrop-filter: blur(2px);

            .nav-list-items {
                width: 100%;
                text-align: left;
                margin-right: 0px;
                padding: 10px 0;
            }
        }
    }
}