.carousel{
    width:98%;
    background-color: rgb(174, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    // margin: 20px 0;
    // padding: 10px;
    // overflow-x: auto;
    white-space: nowrap;
    
    .carousel-title{
        margin-left: 10px;
    }
    .child{
        display: flex;
        cursor: grab;

    }
}
.carousel::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}